:root {
  --lightgray: #fafafa;
  --gray: #a5a7aa;
  --blue: #3897f0;

  --font-small: 0.8em;
  --font-normal: 1em;
  --font-medium: 1.2em;
  --font-big: 1.5em;

  --space-small: 0.5em;
  --space-normal: 1em;
  --space-medium: 1.5em;
  --space-big: 2em;

  --header-size: 4em;
  --footer-size: 4em;
}

* {
  box-sizing: border-box;
}

form {
  outline: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

body {
  background-color: var(--lightgray);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
  margin: auto;
  /* padding: var(--space-big) 0; */
}

.avatar {
  font-size: 0;
  border-radius: 50%;
  overflow: hidden;
}

.link {
  padding: var(--space-small);
  text-decoration: none;
  /* font-size: var(--font-medium); */
}

.link-normal {
  color: black;
}

.link-blue {
  color: var(--blue);
}

.title {
  padding: var(--space-medium) var(--space-small);
  color: var(--gray);
}

/* Layout */
.Header {
  /* border: 4px solid red; */
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  height: var(--header-size);
  padding: 0 var(--space-big);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.SearchBar-input {
  border: 1px solid var(--gray);
  color: var(--gray);
  font-size: var(--font-normal);
  padding: var(--space-small);
  width: 100%;
}

.Footer {
  height: var(--footer-size);
  padding: 0 var(--space-big);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer-list {
  display: flex;
}

.Footer-link {
  margin: var(--space-small);
}
/* Layout */

/* Home */
.Home {
  margin-top: var(--header-size);
}

/* Home */

/* PhotoList */
.PhotoList {
  display: flex;
  flex-wrap: wrap;
}

.PhotoList .Photo {
  width: calc((100% / 3) - 1em);
}
/* PhotoList */

/* Photo */
.Photo {
  margin: 0.5em;
}

.Photo-image {
  max-width: 100%;
}
/* Photo */

/* UserAvatar */
.UserAvatar {
  display: flex;
  align-items: center;
}

.UserAvatar-imageContainer {
  width: 15%;
}

.UserAvatar-info {
  /* font-size: var(--font-medium); */
  font-weight: bold;
  margin-left: var(--space-normal);
}

.UserAvatar-username::after {
  content: '°';
  font-size: var(--font-big);
  line-height: 1em;
  margin-left: var(--space-small);
}
/* UserAvatar */

/* PhotoDetail */
.PhotoDetail-content {
  display: flex;
  align-items: flex-start;
}

.PhotoDetail-photo {
  border: 4px solid red;
  flex: 1;
}

.PhotoDetail-info {
  border: 4px solid blue;
  flex-basis: 40%;
  padding: var(--space-small);
  margin-left: var(--space-big);
}
/* PhotoDetail */
